body {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--hero-color);
}

img {
    display: block;
}






:root {
    --primary-text-color: #434455;
    --title-text-color: #2e2f42;
    --accent-color: #4d5ae5;
    --hero-color: #ffffff;
    --button-second-color: #404bbf;
    --footer-logo-color: #F4F4FD;
    --filter-border-color: #E7E9FC;

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


/* Header */

.header-logo {
    color: var(--title-text-color);
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-accent {
    color: var(--accent-color);
}



/* SITE-NAV*/

.site-nav-link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}


.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--button-second-color);
}

.site-nav-link.current {
    color: var(--accent-color);
}


.main-address {
    font-style: normal;
}

.contacts-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

}


.contacts-link:hover,
.contacts-link:focus {
    color: var(--button-second-color);
}



/* HERO */

.hero {
    text-align: center;
    background-color: var(--title-text-color);
}

.hero-title {
    color: var(--hero-color);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button {
    color: var(--hero-color);
    background-color: var(--accent-color);
    border: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--hero-color);
    background-color: var(--button-second-color);
}

/* About Section */


.about-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.about-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

}

/* Section */
.common-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-transform: capitalize;
}

/* Team Section */
.team {
    background-color: var(--footer-logo-color);
}

.team-item {

    background-color: var(--hero-color);
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.team-rank {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*  цвет основного текста #434455 */
/*  вторичній цвет SLATE color: #434455; */
/* акцент IRIS color: #4D5AE5; */
/*  футер лого и абзац CLOUD color: #F4F4FD; */
/* первичный цвет фона Background #E5E5E5 */
/* вторичный цвет фона background: #F4F4FD; */
/* вторичный цвет фона rgba(0, 0, 0, 0.25)); */



/* Footer */

footer {
    background-color: var(--title-text-color);
}

.footer-logo {
    color: var(--footer-logo-color);
}

.footer-info {
    color: var(--footer-logo-color);
}


/* PORTFOLIO */

.filter-btn {
    background-color: var(--footer-logo-color);
    color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid var(--filter-border-color);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--button-second-color);
    color: var(--hero-color);
}



.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}



.card-types {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Comment */